* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
}

#canvas {
}

.anim {
    position: relative;
}

.arrow {
    position: absolute;
    top: -10px;
    left: -6px;
    opacity: 0;
}

.arrow svg {
    /* transform: rotate(180deg); */
}
